.hero-image {
    background-image: url("alberto-restifo-mountain.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.resume {
    padding: 25px 25px;
}

.projects {
    padding: 50px 50px;
}

.footer {
    background-color: #3b393b;
    height: 75px;
}