.hero-image {
    background-image: url("alberto-restifo-mountain.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.resume {
    padding: 25px 25px;
}

.footer {
    background-color: #3b393b;
    height: 70px;
    color: white
}

a:link {
    color:white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.secondparallax {
    background-image: url("https://images.unsplash.com/photo-1445285303476-2f3b16d67b7a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=17f05338004eabae2ebedc81f9358bd3&auto=format&fit=crop&w=750&q=80");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
