.body {
    margin: 0px 0px 0px 0px;
}

.hero-image {
    background-image: url("alberto-restifo-mountain.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.display-3{
    color: whitesmoke
}

h4 {
    color: whitesmoke
}

small {
    color: whitesmoke
}

.footer {
    background-color: #3b393b;
    height: 70px;
    color: white
}

a:link {
    color:white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.secondparallax {
    background-image: url("../assets/white\ vector.PNG");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

* {box-sizing: border-box;}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.desc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    width: calc(100% - 0.25rem);
    text-align: center;
}